main {
  margin: 0 auto;
  background-color: #f5f5f5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.die-num {
  font-size: 2rem;
}

button {
  padding: 10px 30px;
  background: #5035ff;
  height: 50px;
  width: 100px;
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  color: #ffffff;
  border: none;
  margin-top: 26px;
  border-radius: 4px;
  cursor: pointer;
}
